
.mainColour{
    color:white;  
}

.primaryColour{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(237,95,76,1) 0%, rgba(245,98,77,1) 31%, rgba(238,160,196,1) 100%); 
}

.backgroundColour{
    background-color: rgb(236, 105, 88);
    border:5px solid transparent;
}

.darkerBackgroundColour{
    background-color: rgb(179, 37, 37);
    border:5px solid transparent;
}

.inputColour{
    background-color:#F1614D;
    border:5px solid transparent;
}

.cardColour{
    background-color: rgb(236, 105, 88);
    border:5px solid transparent;
}

.buttonColour{
    color:white;
    background-color:rgb(238, 59, 59);
}

.hButtonColour{
    color:white;
    background-color:#006EDC;
}
.buttonColourWithBorder{
    background-color:rgb(238, 59, 59);
    border:5px solid transparent;
}

.fontHeader{
    font-family: "Circular Std Bold";
    

}

.highlightColour1{
    color: rgb(226, 63, 38);
    
}
.highlightColour2{
    color: rgb(223, 43, 43);
    
}

.lightColour{
    color:rgb(250, 216, 212);
}


.right.carousel-control, .left.carousel-control {
    display: none;
}


.blink {
    animation:fade 1000ms infinite;
    -webkit-animation:fade 1000ms infinite;
  }


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}                                                                                                                                                                                                                                  

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}